<div class="container" style="margin-top:70px;">
    <h3 class="text-center text-uppercase p-2">Agregar Nuevo Genero</h3>
    <form action="/gen_add" method="POST" class="mt-3">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Genero</button>
        <a href="/gen_list" class="btn btn-secondary mt-2">Cancelar</a>
    </form>
</div>
