<div class="container" style="margin-top:70px;">
    <h3 class="text-center text-uppercase p-2">Agregar Nueva Canción</h3>
    <form action="/can_add" method="POST" class="mt-3">
        <div class="mb-3">
            <label for="producto" class="form-label">Producto</label>
            <select class="form-control" id="producto" name="id_producto" required>
                <!-- Iteramos sobre los productos para que el usuario seleccione uno -->
                {{#each productos}}
                <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="mb-3">
            <label for="duracion" class="form-label">Duración</label>
            <input type="text" class="form-control" id="duracion" name="duracion" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar canción</button>
        <a href="/can_list" class="btn btn-secondary mt-2">Cancelar</a>
    </form>
</div>
